#asuite folders
bck/
lib/
tmp/
backup/
cache/

#asuite files
*.sqlite
debug.txt

#compiled
*.exe
*.compiled
*.map
#*.dll
*.dcu

#lazarus
*.lps
*.[oa]
*.ppu
*.rst
*.cgi
*.log
*.bak*

#delphi
__history
*.~*~
*.local
*.identcache
*.drc
*.vlb
*.cbk