#asuite folders
bck/
lib/
tmp/
backup/
cache/
3p/

#asuite files
*.sqlite
debug.txt
asuite*.7z
asuite*.zip

#compiled
*.exe
*.compiled
*.map
#*.dll
*.dcu
*.mab
*.rsm

#lazarus
*.lps
*.[oa]
*.ppu
*.rst
*.cgi
*.log
*.bak*

#delphi
__history
*.~*~
*.local
*.identcache
*.drc
*.vlb
*.cbk