/* $Id$ */

body {
  font-family: Verdana,Arial,serif;
  font-size: 8pt;
  margin: 0;
  padding: 0;
}
table {
  font-family: Verdana,Arial,serif;
  font-size: 8pt;
  border-collapse: collapse;
}
td {
  vertical-align: top;
  margin: 0;
  padding: 2px 4px;
}
th {
  font-weight: bold; 
  margin: 0;
  padding: 2px 4px;
  background-color: #e0e0e0; 
}
table.framed {
  border: 1px solid gray;
}
table.framed td {
  border: 1px solid gray;
}
table.framed th {
  border: 1px solid gray;
}
h1 {
  font-family: Trebuchet MS,Verdana,Arial,serif;
  font-size: 12pt;
  text-align: center;
  margin: 0;
  padding: 8px;
  background-color: #f0f0f0;
  border-bottom: 1px solid gray;
}
h2 {
  font-family: Trebuchet MS,Verdana,Arial,serif;
  font-size: 10pt;
  text-align: left;
  border-bottom: 1px solid silver;
}
h3 {
  font-size: 8pt;
  font-weight: bold;
  text-align: left;
  padding-bottom: 3px;
}
a {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: red;
}
div.code {
  font-family: monospace;
  margin: 5px;
  padding: 12px;
  background-color: #f0f0ff;
  border: 1px dotted gray;
}
div.pagebody {
  margin: 0;
  padding: 8px;
}
p {
  margin: 0;
  padding: 8px 0;
}
 /* API Reference specific styles */
table.decl {
  background-color: silver;
}
td.comment       { 
  color: #408040; 
}
td.declmain { 
  width: 40%; 
}
span.declaration { 
  color: gray; 
}
span.keywd { 
  font-weight: bold; 
  color: black; 
}
span.framed {
  font-weight: bold; 
  border: 1 black solid; 
  padding: 0 2px; 
  background-color: #e0e0ff; 
}
span.sub { 
  font-weight: normal; 
  font-size: 5pt; 
}
span.symbol { 
  font-weight: normal; 
  color: #905000; 
}
